<!DOCTYPE html>
  <html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
  <body>
  <h1> 您好，<%= @user.name %>!</h1>
  <p>感谢您加入Wala澳洲代购平台。</p>
  <p>登录地址：<a hrer='<%= new_user_session_path %>'></a></p>
  </body>
</html>