<% title "修改密码" %>
<h5>修改密码</h5>

<div class="divider"></div>
<div class="sign-up-container row ">
  <div class="col s12 m2 l4"></div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
      <div class="col s12 m6 l4 ">
        <div class="card-content">
          <div class="input-field col s12">
            <input type="email" class="validate" name="user[email]" id="user_email" required disabled value="邮箱：<%=resource.email %>" />
          </div>
          <div class="input-field col s12">
            <input type="password" pattern=".{6,}" class="validate" name="user[current_password]" id="user_current_password" required />
            <label for="user_password">旧密码：</label>
          </div>
          <div class="input-field col s12">
            <input type="password" pattern=".{6,}" class="validate" name="user[password]" id="user_password" required />
            <label for="user_password">新密码：</label>
          </div>
          <div class="input-field col s12">
            <input type="password" class="validate" name="user[password_confirmation]" id="user_password_confirmation" required/>
            <label for="user_password_confirmation">新密码确认：</label>
          </div>
        </div>
        <div class="card-action">
          <input type="submit" name="commit" value="确定" data-disable-with="正在更新..." class="btn waves-light login-btn">
        </div>
      </div>
  <% end %>
  <div class="col s12 m2 l4"></div>
</div>
<div class="divider"></div>