<ul class="pager">
  <% if user_signed_in? && current_user.id == @post.user.id%>
  <li class="previous">
    <a class="default-btn" href="<%= user_posts_path %>"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to the list</a>
  </li>
  <li class="next">
    <a class="default-btn" href="<%= user_post_path %>" data-method="delete"><i class="fa fa-trash" aria-hidden="true"></i> Delete</a>
  </li>
  <li class="next">
    <a class="default-btn" href="<%= edit_user_post_path %>"> <i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
  </li>
  <% end %>
  <% if  user_signed_in? &&  current_user.id != @post.user.id%>

  <li class="previous">
    <a class="default-btn" href="/public_hub"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to posts hub</a>
  </li>
  <% end %>

  <% unless  user_signed_in?%>

      <li class="previous">
        <a class="default-btn" href="/"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to the list</a>
      </li>
  <% end %>
</ul>

