<div class="jumbotron">
  <div class="container">
        <h1>Welcome to BlogZzz!</h1>
        <p class="lead">
          Sign in to start your own posts!
        </p>
        <div class="row-fluid">
          <div class="span6">
            <%= link_to "Sign In", new_user_session_path, :class => "btn btn-success" %>
            <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-success" %>
          </div>
        </div>
  </div>
</div>


    <div class="list-group">
          <a class="list-group-item" ng-repeat="post in PublicPosts">
            <h4 class="list-group-item-heading">{{ post.title }}</h4>
            <span class="list-group-item-text">
              Published: {{  post.created_at | date:'medium'}}
              Author:   {{ post.author }}
            </span>
          </a>
    </div>
