<!DOCTYPE html>
  <html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
  <body>
  <h1>您好， <%= @user.name %></h1>
  <p>您已提交新订单：<%= @order.id %></p>
  <p>卖家正在处理订单中，经很快为您去采购。</p>
  </body>
</html>