<div class="col-md-8">
  <ol class="breadcrumb">
    <li>Archive</li>
  </ol>
</div>

<div class="col-md-8">
  <ul class="archivee">
    <% @posts_by_year.each do |post|%>
        <li>
          <a href="/<%= @user.slug %>/archive/<%= post.year %>">
            <i class="ico-keyboard_arrow_right"></i>
            <%= post.year %>(<%= post.posts %>)
          </a>
        </li>
    <% end %>
  </ul>
</div>