<div class="col-md-8">
  <ol class="breadcrumb">
    <li><a href="../">Archive</a></li>
    <li><a href="./"><%= @year %></a></li>
    <li class="active"><%= @month %></li>
  </ol>
</div>

<%= render partial: 'shared/post/post_index'%>