
<% content_for :google_map_api do %>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP12MDFWZUTiDm1d1prlORktT-7IZraMs&libraries=visualization&callback=initMap">
    </script>
<% end %>


<div class="col-md-12">
  <ol class="breadcrumb">
    <li>Foot print</li>
  </ol>
</div>

<div class="col-md-12">
  <div id="map"></div>
</div>

