<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f| %>
    <div class="auth-form-header p-0">
      <h1>Reset your password</h1>
    </div>
    <div id="js-flash-container">
      <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>
    <div class="auth-form-body mt-3">
      <label for="login_field">
        Enter your email address and we will send you a link to reset your password.
      </label>
      <%= f.email_field :email, autofocus: true, class: "form-control input-block" %>

      <input class="btn btn-primary btn-block" data-disable-with="Sending email…" name="commit" tabindex="3" type="submit" value="Send password reset email">
    </div>
<% end %>