<% title "忘记密码" %>
<div class="row container">
  <div class="col s12 m6 l4 card login-card">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, class: 'login-form'}) do |f| %>
        <div class="card-content">
          <span class="card-title">忘记密码</span>
          <p> 请输入您注册时的邮箱地址，我们将会发送重置密码的链接到您的邮箱中，请注意查收。</p>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input type="email" class="validate login-input" name="user[email]" id="user_email" autofocus="autofocus" required />
            </div>

            <div class="col s12">
              <button class="btn waves-light login-btn" type="submit" data-disable-with="正在发送…">发送重置密码链接
              </button>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div class="col s12 m6 l8"></div>
</div>