<article>
  <div class="relate-post">
    <h4>Releate Post</h4>
    <div class="row">
      <div class="col-sm-6">
        <ul class="posts-list">
          <li>
            <div class="widget-thumb">
              <a href="#"><img alt="" src=
                  "/assets/post/post1.jpg"></a>
            </div>
            <div class="widget-content">
              <a href="#">Aladdin rides
                'magic carpet' at New York in
                Halloween prank</a>
              <div class="meta">
                        <span><i class=
                                     "ico-calendar-alt-fill"></i>
                        October 7,2015</span>
                <span><i class=
                             "ico-tag"></i>
                        Technology</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="posts-list">
          <li>
            <div class="widget-thumb">
              <a href="#"><img alt="" src=
                  "/assets/post/post2.jpg"></a>
            </div>
            <div class="widget-content">
              <a href="#">New Zealand makes
                history by winning third Rugby
                WC</a>
              <div class="meta">
                        <span><i class=
                                     "ico-calendar-alt-fill"></i>
                        October 7,2015</span>
                <span><i class=
                             "ico-tag"></i>
                        Technology</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="posts-list">
          <li>
            <div class="widget-thumb">
              <a href="#"><img alt="" src=
                  "/assets/post/post3.jpg"></a>
            </div>
            <div class="widget-content">
              <a href="#">Romania calls for 3
                days of mourning after
                nightclub fire kills at least
                27</a>
              <div class="meta">
                        <span><i class=
                                     "ico-calendar-alt-fill"></i>
                        October 7,2015</span>
                <span><i class=
                             "ico-tag"></i>
                        Technology</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="posts-list">
          <li>
            <div class="widget-thumb">
              <a href="#"><img alt="" src=
                  "/assets/post/post4.jpg"></a>
            </div>
            <div class="widget-content">
              <a href="#">3 years of 'Star
                Wars Episode VII' fandom,
                celebrated</a>
              <div class="meta">
                        <span><i class=
                                     "ico-calendar-alt-fill"></i>
                        October 7,2015</span>
                <span><i class=
                             "ico-tag"></i>
                        Technology</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</article>