<div class="jumbotron">
  <div class="container">
  <h1>Hello, world!</h1>
  <p>This is BlogZzz</p>
  <p><a class="btn btn-primary btn-lg" href="users/sign_up" role="button">Sign up</a></p>
  </div>
</div>