<% title "收货地址" %>

<div class="row">

  <div class="col s3">
    <div class="collection">
      <a href="<%=setting_profile_path %>" class="collection-item">账户信息</a>
      <a class="collection-item active">收货地址</a>
    </div>
  </div>

  <div class="col s9">
    <!-- Teal page content  -->
  </div>

</div>
