@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "fonts/intimate-fonts";
@import "posts";
@import "main";
@import "global";
@import "nav-menu";
@import "responsive";


a.profile-list {
  max-height: 50px;
}
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

.alert {
  margin-top: 10px;
}

body {
  background: #f4f4f4;
}

.navbar-default {
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

.main-body {
  margin-top: 50px;
}

.avatar {
  height: 24px;
  width: 24px;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
}

.personal-container {
  margin-top: 90px;
}

a.defualt-btn {
  color: #fff;
  background-color: #ec483b !important;
  border: 1px solid #fff !important;
}

a.defualt-btn:hover {
  color: #000;
  background-color: #fff !important;
  border: 1px solid #000 !important;
}

.sidebar {
  margin-top: -10px;
}