$primary-color: color("blue", "base") !default;

$secondary-color: color("blue", "darken-2") !default;
$text-white: #ffffff;
$text-highlight: color("blue", "darken-3");
$text-highlight-red:  color("red", "darken-1");