.comment-default {
  background-color: #f5f5f5 !important;
}

.comment-form-head {
  padding: 6px 10px 0;
  background: #f6f8fa;
  border-radius: 3px 3px 0 0;
}

.comment-form-head:before {
  position: absolute;
  top: 11px;
  right: 97%;
  left: -16px;
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
  border-width: 8px;
  border-right-color: #bfccd1;
}

.avatar-comment {
  height: 44px !important;
  width: 44px !important;
}

.comments-nav {
  background-color: #f6f8fa;
}

.comment-avatar, .comment-body{
  padding-left: 0 !important;
}

.comments-list-head {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #d1d5da;
}

.comment-content {
  padding: 6px 10px !important;
  border-right: 1px solid #d1d5da;
  border-left: 1px solid #d1d5da;
  border-bottom: 1px solid #d1d5da;
}

.comments-list-nav {
  margin-bottom: 20px;
}