.blogzzz_pagination {
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 1em;
    cursor: default; }
.blogzzz_pagination .disabled {
    color: #aaaaaa !important; }
.blogzzz_pagination .current,
.ng-scope .current a,
.blogzzz_pagination a:hover{
    background-color: #ec483b;
    border-color: #ec483b;
    color: #fff; }
.blogzzz_pagination a, .blogzzz_pagination em{
    color: #666;
    font-size: 12px;
    padding: 0px;
    margin-right: 3px;
    border: 1px solid #666;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 28px;
    background-color: transparent;
    display: inline-block;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
.blogzzz_pagination a:hover, .blogzzz_pagination a:focus {
    color: #ec483b !important;
    background: transparent;}


.blogzzz_pagination .next_page, .blogzzz_pagination .previous_page{
    font-size: 22px;
    color: #ec483b;
    text-transform: uppercase;
    padding: 0;
    border: none;
    width: auto;
}

.blogzzz_pagination .next_page {
    float: right;
}

.blogzzz_pagination .previous_page{
    float: left;
}

.pagination {
    width: 100%;
}