.login-input {
  height: 30px !important;
}

.login-btn {
  width: 100%;
}

.login-container {
  height: 720px;
  background-image: url('/assets/login-bk.jpg');
  background-position: bottom center;
}

.login-card {
  opacity: 0.8;
  margin-top: 200px
}

.login-form {
  opacity: 1;
}


.sign-up-container {
  margin: 3em 0;
}

.parent-title {
  display: inline-block;
  margin-right: 2em;
}