<% content_for :right_col do %>
    <%= render partial: 'layouts/right_col'%>
<% end %>

<div class="col-md-8" ng-controller="MainCtrl">
    <!-- Blog Article Start-->
    <article ng-repeat="post in PublicPosts">
      <!-- Blog item Start -->
      <div class="blog-item-wrap">
        <!-- Post Format icon Start -->
        <div class="post-format">
          <span><i class="ico-bookmark"></i></span>
        </div><!-- Post Format icon End -->
        <h2 class="blog-title"><a href="/posts/{{ post.slug }}" ng-bind="post.title"></a></h2>
        <div class="entry-meta">
          <span class="meta-part"><i class="ico-user"></i> <a href="#" ng-bind="post.author"></a></span>
          <span class="meta-part">
                <i class="ico-calendar-alt-fill"></i>
                <a href="#" ng-bind=" post.created_at | date:'medium'"></a>
              </span>
          <span class="meta-part">
                <i class="ico-comments"></i>
                <a href="#" ng-bind="post.comments_counter"></a>
              </span> <span class="meta-part">
              <i class="ico-tag"></i>
              <a href="#">Tech</a></span>
          <span class="meta-part">
                <i class="ico-heart"></i>
                <a href="#">7</a>
              </span>
        </div><!-- Entry Meta End-->

        <!-- Post Content Start -->
        <div class="post-content">
          <p ng-bind-html="post.content |truncate "></p>
        </div><!-- Post Content End -->
        <div class="entry-more">
          <div class="pull-left">
            <a class="btn btn-common" href="/posts/{{ post.slug }}">Read More <i class="ico-arrow-right"></i></a>
          </div>
          <div class="share-icon pull-right">
            <span class="socialShare"></span>
          </div>
        </div>
      </div><!-- Blog item End -->
    </article><!-- Blog Article End-->

    <article>
      <!-- Pagination Start -->
      <ul class="pager">
        <li class="previous">
          <a href="#"><i class="ico-arrow-left"></i>
            Previous</a>
        </li>
        <li style="list-style: none"><span class="active"><a href="#">1</a></span> <span><a href="#">2</a></span> <span><a href="#">3</a></span>
          <span><a href="#">4</a></span> <span><a href="#">5</a></span></li>
        <li class="next">
          <a href="#">Next <i class="ico-arrow-right"></i></a>
        </li>
      </ul><!-- Pagination End -->
    </article><!-- Blog Article End-->
  </div>
