<footer class="footer" ng-controller="FooterCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-inner text-center">
          <div class="social-links">
            <a class="twitter social-link" data-placement="top" data-toggle="tooltip" href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a class="facebook social-link" data-placement="top" data-toggle="tooltip" href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a class="google-plus social-link" data-placement="top" data-toggle="tooltip" href="#" title="Google+"><i class="fa fa-google-plus"></i></a>
            <a class="linkedin social-link" data-placement="top" data-toggle="tooltip" href="https://www.linkedin.com/in/wenbo-zhao-009ba1b8/"  target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
          </div>
          <div class="copyright">
            <p>Copyright  © {{ year | date :'yyyy'}} {{ Inc }} Developed by
              <a rel="nofollow" href="https://www.linkedin.com/in/wenbo-zhao-009ba1b8/" target="_blank">Wenbo Zhao</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer><!-- Footer End -->