<footer class="page-footer">
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col l9 s12">-->
        <!--<h5 class="white-text">Alexandria</h5>-->
        <!--<p class="grey-text text-lighten-4">Australia Overseas Shopping Platform</p>-->
      <!--</div>-->
      <!--<div class="col l3 s12">-->
        <!--<h5 class="white-text">Connect</h5>-->
        <!--<ul>-->
          <!--<li><a class="white-text" href="mailto:wenbo199019@gmail.com">Email: wenbo199019@gmail.com</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="footer-copyright">
    <div class="container">
      <p>Copyright  © <%= Date.today.year%> Alexandria.
      Developed by <a class="white-text" rel="nofollow" href="https://www.linkedin.com/in/wenbo-zhao-009ba1b8/" target="_blank"> Wenbo Zhao</a></p>
    </div>
  </div>
</footer>