<div class="entry-widget">
  <h5 class="widget-title">Tags</h5>
  <div class="tag">
    <a href="#">Techonology</a> <a href=
                                       "#"><span class="large">WordPress</span></a>
    <a href="#"><span class=
                          "large">UI/UX</span></a> <a href="#">Design</a>
    <a href="#">CSS3</a> <a href="#">Example</a>
    <a href="#">Interface</a> <a href=
                                     "#"><span class="madium">Modern</span></a>
    <a href="#"><span class=
                          "large">Lifestyle</span></a> <a href=
                                                              "#"><span class="large">Parallax</span></a>
    <a href="#">HTML5</a> <a href="#">Tag</a>
    <a href="#"><span class=
                          "madium">Intimate</span></a> <a href=
                                                              "#"><span class="large">Youtube</span></a>
    <a href="#">Video</a> <a href="#">Apps</a>
    <a href="#"><span class=
                          "madium">User</span></a> <a href=
                                                          "#">Programming</a> <a href="#">Vimeo</a>
  </div>
</div>