<!DOCTYPE html>
<html ng-app="blogzzz">
<head>
  <title>Wala &bull; Sign In</title>
  <%= stylesheet_link_tag    'sign-in' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="content" >
  <div class="container">
    <div class="row">
      <div class="container session-container session-authentication">
        <div class="position-relative js-header-wrapper ">
          <div class="header header-logged-out width-full pt-5 pb-4" role="banner">
            <div class="container clearfix width-full">
              <a class="header-logo" href="/" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
              </a>
            </div>
          </div>
        </div>
        <div role="main">
          <div id="js-pjax-container" data-pjax-container="">
            <div class="auth-form px-3" id="login">
              <a class="header-logo" href="/" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark">
                <div class="session-logo"><img class="header-logo-img" alt="" src="/assets/blog/profile.jpeg"></div>
              </a>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
